body{
margin:0;
font-family:Arial,sans-serif;
background:#111;
color:#ffff;
text-align:center;
}

header{
background:#ff8800;
padding:30px;
color:#0000;
}

main{
padding:20px;
}

section{
margin:20px auto;
max-width:700px;
background:#222;
padding:20px;
border-radius:10px;
}

.player{
background:#333;
margin:8px;
padding:12px;
border-radius:8px;
}

footer{
background:#000;
padding:15px;
margin-top:20px;
}